*{margin:0;padding:0;}
.nav_center{
	width:30px;
	height:80px;
	float:left;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.nav_left{
	position:relative;
}
.sp_jike{
	width:250px;
	height:0px;
	overflow: hidden;
	left:0px;
	top:80px;
	z-index: 15;
	background:white;
	position:absolute;
}
.sp_qk li{
	width:250px;
	height:60px;
	text-align: center;
	line-height: 60px;
}
.sp_qk li:nth-child(1){
	margin-top: 10px;
}
.sp_qk li:hover{
	background:#f12020;color:white;
    cursor: pointer;
}
.sp_data{
	width:400px;
	height:492px;
	position:absolute;
	left:252px;
	top:80px;
	background:white;
	display: none;
	padding:0 40px;
	z-index: 15;
}
.sp_data_ul li{
	height:100px;
	width:100%;
	/*background:yellow;*/
	margin-top: 15px;
}
.sp_data_ul li div{
	width:100%;
	height:65px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
.sp_data_ul li div img{
    height:100%;
    float:left;
    margin-right:10px;
}
.sp_data_ul li div span{
	color:#333333;
	height:65px;
	line-height:65px;
	width:30px;
}
.sp_data_ul li div span:hover{
    color:red;
}
.sp_data_ul p{
	color:#666666;
}
.sp_navigation{
	width:100%;
    background:#f9f9f9;
    height:45px;
    border-bottom: 1px solid #d7d7d7;
}
.sp_head{
	width:1240px;
	height:42px;
	float:left;
	line-height: 42px;
	padding-left:100px;
}
.sp_content{
	width:100%;
	background:#f9f9f9;
	min-height: 300px;
	height:auto;
	overflow: hidden;
	padding-top:25px;
}
.sp_content_in{
	width:1240px;
	min-height: 300px;
	height:auto;
	overflow: hidden;
	/*background:red;*/
	margin:0 auto;
}
.sp_content_left{
	width:510px;
	height:670px;
	float:left;
	/*background:orange;*/
}
.sp_img{width:100%;height:100%;}
/*下面的移动卡*/
.sp_down{width:100%;height:90px;
	/*background:blue;*/display: flex;justify-content: space-between;
	margin-top: 40px;
}
.sp_down .forword{
	width:30px;
	height:100%;
	border:none;
	float:left;
	cursor: pointer;
	z-index: 10;
	background:url(../img_subpage/left.png) no-repeat left center;
}
.sp_down .downword{
	z-index: 10;
	width:30px;
	height:100%;
	border:none;
	float:right;
	cursor: pointer;
	background:url(../img_subpage/right.png) no-repeat left center;
}

.out_ul{height:90px;width:450px;/*background: purple;*/
position:relative;overflow: hidden;
}
.sp_down_ul{width:800px;height:100%;z-index: 2;
position:absolute;left:0;top:0;}
.sp_down_ul li{width:80px;height:80px;
	margin:5px 4px;float:left;cursor:pointer;
border:1px solid white;}
.sp_down_ul li img{width:100%;height:100%;}
/*放大镜*/
.sp_top{
	width:508px;
	height:508px;
/*	background:blue;*/
	border:1px solid #e7e7e7;
	position:relative;
}
.top_box{
	width:508px;
	height:508px;
	position:absolute;
	left:0;
	top:0;
	z-index:10;
}
.middle_box{
	z-index: 5;
	width:200px;
	height:200px;
	background:orange;
	opacity: 0.4;
	position:absolute;
	left:0;
	top:0;
	display:none;
}
.big{
	width:508px;
	height:508px;
/*	background:blue;*/
	border:1px solid #e7e7e7;
	position:absolute;
	left:515px;
	top:0;
	z-index: 10;
	display:none;
	overflow: hidden;
}
.big .big_img{
	width:1000px;
	height:1000px;
	position:absolute;
	left:0;
	top:0;
}
.big .big_img img{width:100%;height:100%;}
/*右边*/
.sp_content_right{
	width:660px;
	height:670px;
	float:right;
	/*background:yellow;*/
	padding-left: 70px;
}
.sp_content_right_up{
	width:100%;
	height:105px;
	border-bottom: 1px solid #e1e1e1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.golden p:nth-child(2){
	margin-top: 15px;
	color:#999999;
	font-size: 13px;
}
.sp_content_right_up button{
	border:none;
	background:#f1f1f1;
	border:1px solid #dddddd;
	width:68px;
	height:22px;
	cursor: pointer;
}
.sp_content_right_middle{
	width:100%;
	height:105px;
	border-bottom: 1px solid #e1e1e1;
}
.sp_content_right_middle span{
	line-height: 70px;
	font-size: 22px;
	color:red;
}
.sp_content_right_down{
	width:100%;
	height:145px;
	border-bottom: 1px solid #e1e1e1;
}
.sp_content_right_down p:nth-child(1){
	margin:35px 0;
}
/*最下面*/
.sp_content_right_bottom{
	width:100%;
	height:auto;
	overflow: hidden;
}
.np{width:100%;height:100px;/*background:green;*/
	display:flex;
	align-items: center;
}

.np label{float:left;}
.right_bottom_ul{float:left;width:200px;height:40px;}
.right_bottom_ul li{
	float:left;
	border:1px solid #d4d4d4;
	height:38px;
}
.bottom_ul_1,.bottom_ul_3{cursor: pointer;}
#bottom_ul_2{
	width:77px;
	text-align: center;
	line-height: 38px;
	border-left: none;
	border-right: none;
	background:white;
}
.now{
	width:180px;
	height:42px;
	color:white;
	background:#f12020;
	border:none;
	cursor: pointer;
}
.join{
	width:178px;
	height:42px;
	border:1px solid #999999;
	margin-left: 14px;
	background:white;
	cursor: pointer;
}
.join:hover{
	color:red;
	border-color:red;
}
.share_1{
	margin-top: 30px;
}